body {
    font-family: 'Arial', sans-serif;
}

header {
    background: linear-gradient(90deg, #007bff, #6610f2);
}

.card {
    border: none;
    border-radius: 10px;
}

.card-body {
    text-align: center;
}

footer {
    background: #343a40;
}
